@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body{
  color:#fff;
  background-color: #0f0f0f;
  font-family: 'Roboto',sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: #c7c7c7;
}